<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<nav class="navbar bg-body-tertiary" style="background-color:rgb(248, 64, 8); text-align: right;">
 <img src="assets/pumas.jpg" id="logo" alt="imagen"><div style="text-align: right; flex:1;" id="paralelogramo2"></div>
  <div class="container">
    <a class="navbar-brand" href="#">
    </a>
  </div>
</nav>
<div class="card" style="text-align: center;">
<img src="assets/descarga.jpg" border="4" id="primera" >
<p>ACOMPAÑANOS</p>
<p>DNEDIWNF WJENDFO  DWNENWUBGTH  RNTIE
  D IEWQN WEORUHWFUBWIEF EUFVBFW  </p>
</div>
    
<img src="./assets/multimedia.jpg" alt="img" id="multimedia">
  
<div id="imagen-gallery" class="imagen-gallery" >
  <div><img src="assets/pumas.jpg" style="text-align: left;" alt="imagen"></div>
  <div><img src="assets/descarga.jpg" class="d-block w-400" alt="imagen"></div>
  <div><img src="assets/huella.jpg" class="d-block w-100" alt="imagen"></div>
  <div><img src="assets/pumas.jpg" style="text-align: left;" alt="imagen"></div>
  <div><img src="assets/descarga.jpg" class="d-block w-400" alt="imagen"></div>
  <div><img src="assets/huella.jpg" class="d-block w-100" alt="imagen"></div>
  <div><img src="assets/pumas.jpg" style="text-align: left;" alt="imagen"></div>
  <div><img src="assets/descarga.jpg" class="d-block w-400" alt="imagen"></div>
  <div><img src="assets/huella.jpg" class="d-block w-100" alt="imagen"></div>
</div>

  <img src="./assets/Captura.jpg" alt="img" id="nosotros">
<DIV style="display: flex;">
  <p style="flex: 1;">oiuhsdis ajsuas  sdbaosidhahs asfhuagsd 
    sabsdbaysd usdiuas dsgdyahs yva byuafs  sfayvsa
      asv a iasva sc ahyv c aysdcyvisadcisucd 
    dsigyvesfbsudcs dsavyvdc hdsvfysdyas ascd
  </p>
  <aside style="flex: 1;">
  <a href="https://www.tiktok.com/@jonathandavidespi?_t=8coRPGlqgUA&_r=1"><img src="./assets/profe.jpg" alt="img"></a>
  </aside>
</DIV>
    









<footer style="background-color: red;">
  <img src="./assets/instagram.jpg" id="insta" alt=""><img src="./assets/face.jpg" id="insta" alt="">
</footer>
</body>
</html>